
#data-viz-10372 {
    width: 95vw;
    position:relative;
    background-color: rgb(251, 252, 254);
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05)
}

.title-text {
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.description-text {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.source-text {
    font-family: Roboto, sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #888;
    margin-top: 20px;
    margin-bottom:20px;
    /*
    These adjustments are to undo CSS upstream on the WP Site,
    but aren't necessary to make the viz work
    */
    line-height: 13px !important;
}

.tooltip-10372 {
    font-family: Roboto, sans-serif;
    opacity: 0;
    position: absolute;
    width: 300px;
    height: 125px;
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.tooltip-artist-name-10372 {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px;
    /*
    These adjustments are to undo CSS upstream on the WP Site,
    but aren't necessary to make the viz work
    */
    line-height: 25px !important;
}

#artist-image-div-10372 img {
    clip-path: circle();
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    /*
    These adjustments are to undo CSS upstream on the WP Site,
    but aren't necessary to make the viz work
    */
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    max-width: none !important;
}